.link * {
	text-decoration:none;
}
.button_popup {
	padding-top: 10px;
	padding-bottom: 10px;
}
.destructive-action {
	color: #ff938c;
	background-color: #5d4446;
}

.have_update {
	background-color: #deb005;
}

#box_named_page {
	margin: 10px;
	color:white;
	font-size:15px;
}

#cache_supravim {
	color:grey;
	margin-bottom:5px;
	margin-top:5px;
	border-bottom-right-radius: 0px;
	border-top-right-radius	: 0px;
}

#update_supravim {
	color:white;
	margin-bottom:5px;
	margin-top:5px;
}

#uninstall_supravim {
	color:white;
	background-color: #990000;
	margin-bottom:5px;
	margin-top:5px;
	border-bottom-left-radius: 0px;
	border-top-left-radius	: 0px;
}

.PreferencesGroup {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.uninstall {
	background-color: #aa1111;
	color:white;
}

.uninstall:hover {
	background-color: #711;
	color:white;
}

.install {
	background-color: #11aa11;
	color:white;
}

.install:hover {
	background-color: #171;
	color:white;
}

.themebutton{
	background-color:rgba(0,0,0,0);
}
